.about{
    width: 100%;
    position: relative;
    margin-top: 80px;
    &__block{
        border-top: 1px solid #d3d3d6;
        border-bottom: 1px solid #d3d3d6;
        width: 40%;
        height: 80vh;
        margin-left: auto;
        margin-right: 70px;
        padding: 0 20px;
        &__title{
            font-family: 'Ibarra Real Nova';
            font-weight: bold;
            font-size: 40px;
            line-height: 42px;
            letter-spacing: -0.357143px;
            color: #33323D;

        }
        &__desc{
            font-family: Public Sans;
            font-size: 16px;
            line-height: 30px;
            color: #33323D;
            mix-blend-mode: normal;
            opacity: 0.8;
            padding-bottom: 16px;
        }
    }

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
        height: 80vh;
        background: url(../img/man.png)no-repeat;
        background-size: 100% 100%;
    }
}

@media only screen and (max-width: 1070px){
    .about{
        width: 90%;
        height: 80vh;
        &__block{
            width: 45%;
            height: 100vh;
            margin-right: 15px;
            // &__title{
                
            // }
            &__desc{
                padding: 15px 0;
            }
        }
    
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 45%;
            height: 100vh;
            background: url(../img/man.png)no-repeat;
            background-size: 100% 100%;
        }
    }
}

@media only screen and (max-width: 860px){
    .about{
        width: 90%;
        height: 80vh;
        &__block{
            margin: 0;
            margin-top: 800px;
            width: 100%;
            height: 80vh;
            margin-right: 15px;
            padding: 0;
            &__title{
                padding: 0;
            }
        }
    
        &::after{
            content: "";
            position: absolute;
            top: -99%;
            left: 0;
            width: 100%;
            height: 70vh;
            background: url(../img/man.png)no-repeat;
            background-size: 100% 100%;
            z-index: -2;
        }
    }
}