.container{
    max-width: 1125px;
    margin: 0 auto;
    padding: 0 30px;
}

@media only screen and (max-width: 950px){
    .container{
        margin: 0 auto;
        padding: 0 30px!important;
    }
}