.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    &__logo{
        img{
            display: flex;
        }
    }
    &__nav{
        display: flex;
        list-style: none;
        &__item{
            margin: 0 15px;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 2px;
            text-transform: uppercase;
            &__link1{
                color:#5FB4A2;
                text-decoration: none;
                &:hover{
                    color:rgb(199, 194, 194);
                }
                &:active{
                    color:rgb(66, 58, 58);
                }
            }
            &__link{
                font-family: Public Sans;
                color: #33323D;
                text-decoration: none;
                &:hover{
                    color:rgb(199, 194, 194);
                }
                &:active{
                    color:rgb(66, 58, 58);
                }
            }
        }
    }
}

@media only screen and (max-width: 850px) {
    // .header{

    // }

}

@media only screen and (max-width: 700px){
    .header{
        padding-top: 30px!important;
        padding-bottom: 30px!important;
        &__toggle{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            width: 28px;
            height: 23px;
            &::after, &::before{
                content: "";
                position: absolute;
            }
            &::after, &::before, & > span{
                width: 100%;
                height: 3px;
                background-color: #36536B;
            }
            
            &:after{
                top: 0;
            }
            &::before{
                bottom: 0;
            }
           
            &--active{
                &::after{
                    top: initial;
                    transform: rotate(45deg);
                }

                &::before{
                    bottom: initial;
                    transform: rotate(-45deg);
                }
                & > span {
                    opacity: 0;
                }

                &::after, &::before, & > span{
                    
                    background-color: black;
                }

                & ~ .header__nav{
                    display: flex;
                }
            }
        }
        &__nav{
            display: none;
            position:absolute;
            right: 0;
            top: 15px;
            z-index: 2;
            width: 300px;
            height: 300px;
            padding: 10px 15px;
            background-color: #1B262F;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__item{
                padding: 15px 0;
                &__link{
                    color:#ffffff;
                }
            }
        }
    }
}